/* login page styling */
#main {
  -webkit-transition: margin-left .5s;
  transition: margin-left .5s;
  padding: 0px;
  margin-left: 260px;
}

#Admin-AddNew {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
}

#Admin-AddNew .default-bg {
  background: #fff;
  color: #505050;
}

#Admin-AddNew .login-box {
  max-width: 960px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

#Admin-AddNew .login-box > .bg-left {
  padding: 0;
  border-radius: 10px 0 0 10px;
  background: #272c4a;
  opacity: 1;
}

#Admin-AddNew .login-box .info {
  height: 450px;
  position: relative;
}

#Admin-AddNew .login-box .info > .profile-img {
  width: 200px;
  height: 400px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 50px;
}

#Admin-AddNew .login-box .info > .profile-img > img {
  width: 300px;
  height: 380px;
  border-radius: 8px;
}

#Admin-AddNew .login-box .info > .img-icon {
  color: #fff;
  font-size: 150px;
  margin-top: 80px;
}

#Admin-AddNew .login-box .info .btn-back {
  padding: 0.6rem 1.3rem;
  border: 2px solid #fafafa;
  color: #fafafa;
  font-size: 0.95rem;
  line-height: 1;
  border-radius: 25px;
  outline: none;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  margin: 0;
  position: fixed;
  top: 470px;
  left: 475px;
  background-color: #1b203d;
}

#Admin-AddNew .login-box .info .btn-back:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#Admin-AddNew .login-box .info > #user {
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
}

#Admin-AddNew .login-box .info > .btn-section {
  position: absolute;
  top: 40%;
  right: 0;
  margin-bottom: 0;
}

#Admin-AddNew .login-box .info > .btn-section .link-btn {
  font-size: 12px;
  font-weight: bold;
}

#Admin-AddNew .login-box .info > .btn-section .link-btn.active {
  background-color: #272c4a;
  color: #fff;
}

#Admin-AddNew .login-box .info > .btn-section > .btn-primary {
  text-align: center;
  line-height: 30px;
  width: 100px;
  text-transform: uppercase;
  border-radius: 50px 0 0 50px;
  margin-bottom: 15px;
  border: none;
  font-weight: bolder;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#Admin-AddNew .login-box .info > .btn-section > .btn-primary > span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

#Admin-AddNew .login-box .info > .btn-section > .btn-primary > span::after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#Admin-AddNew .login-box .info > .btn-section > .btn-primaryfocus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

#Admin-AddNew .login-box .info > .btn-section > .btn-primary:hover {
  background: #1b203d;
  color: #fff;
  -webkit-box-shadow: 25px rgba(255, 255, 255, 0.8);
          box-shadow: 25px rgba(255, 255, 255, 0.8);
  padding-right: 25px;
}

#Admin-AddNew .form-section {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
  width: 100%;
}

#Admin-AddNew .form-section > .title {
  margin: 20px 0;
}

#Admin-AddNew .form-section > .title > h3 {
  font-size: 25px;
  font-weight: bold;
  color: #505050;
}

#Admin-AddNew .form-section .login-inner-form {
  position: relative;
  color: #979797;
}

#Admin-AddNew .form-section .login-inner-form .form-box {
  float: right;
  width: 100%;
  position: relative;
}

#Admin-AddNew .form-section .login-inner-form .form-box .icon {
  position: absolute;
  right: 25px;
  top: 10px;
}

#Admin-AddNew .form-section .login-inner-form .form-box .icon.email::before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  content: "\f0e0";
}

#Admin-AddNew .form-section .login-inner-form .form-box .icon.lock::before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  content: "\f023";
}

#Admin-AddNew .form-section .login-inner-form .form-box .icon.user::before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  content: "\f007";
}

#Admin-AddNew .form-section .login-inner-form .form-box .icon.contact::before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  content: "\f879";
}

#Admin-AddNew .form-section .login-inner-form .form-box .icon.nic::before {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  content: "\f2c2";
}

#Admin-AddNew .form-section .login-inner-form .form-box .icon.img::before {
  font-family: "Font Awesome 5 Free";
  content: "\f03e";
}

#Admin-AddNew .form-section .login-inner-form .form-box > .input-text {
  font-size: 14px;
  outline: none;
  color: 50px;
  border: 1px solid transparent;
  border-radius: 50px;
  background: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 11px 45px 11px 20px;
  width: 100%;
  margin-bottom: 10px;
}

#Admin-AddNew .form-section .login-inner-form .primary-btn {
  background: #272c4a;
  width: 50%;
  border: none;
  color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px 30px;
  cursor: pointer;
  height: 45px;
  border-radius: 50px;
  margin-top: 20px;
}

#Admin-AddNew .form-section .login-inner-form .primary-btn:hover {
  background: #1b203d;
}

#Admin-AddNew .form-section .login-inner-form .form-container .footer .nextprev-btn {
  background: #272c4a;
  width: 30%;
  border: none;
  color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  padding: 10px 30px;
  cursor: pointer;
  height: 45px;
  border-radius: 50px;
  margin: 20px;
}

#Admin-AddNew .form-section .login-inner-form .form-container .footer .nextprev-btn:hover {
  background: #1b203d;
}
/*# sourceMappingURL=AddNew.css.map */